.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border-top: 10px solid black; */
    background-color: pink;
    border-left: 10px solid black;
    border: 20px solid #FFE66D;
    border-top: 20px solid #4ECDC4;
    animation: spinAnimation 3s ease-in 0s infinite ease-in-out normal;

}
@key frames spinAnimation{
    from{
        transform:roated(0deg);
    }
    to{
        transform:rotated(360deg);
    }
}